$default-shadow-color: rgba(0,0,0,0.5);
$astronomy-shadow-color: rgba(13,35,143,0.5);
$atmosphere-shadow-color: rgba(13,135,113,0.7);
$wind-shadow-color: rgba(113,135,123,1);
$forecast-shadow-color: rgba(93,45,73,1);
$shadow-size: 0 0 1rem;
$item-border-color: #68878f;